# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Variables de entorno (Seguridad)
.env
.env.local

# Archivos de Build (React)
build/
dist/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Logs del sistema
*.log


# Ignorar todos los CSV generados
*.csv
# Ignorar carpetas de datos generados


backup/
dumps/


# Editor de código
.vscode/
.idea/